<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Engine</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <ul>
            <li id="logo"><i class="fas fa-dragon"></i> </li>
            <li id="title"> My Unit Book</li>
        </ul>
        <ul>
            <li><a href="./"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="./"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="./"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="./"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="./"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="./"><i class="fas fa-home"></i> Home</a></li>
        </ul>
    </header>


</body>

</html>